.login {
    background-color: var(--energetic_light_blue);
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding-top: 150px;
}
.login h1 {
    color: whitesmoke;
    font-size: 40px;
}
.login p {
    margin-top: 10px;
    color: whitesmoke;
}
.login p a {
    color: dodgerblue;
    font-weight: bold;
}
.login .error {
    background-color: lightcoral;
    padding: 30px;
    width: 400px;
    margin: 0 auto;
    border-radius: 4px;
    transition: 0.4s ease-in;
}
.login .login-form {
    margin: 0 auto;
}